<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/all.min.css') }}"
    />
    <title class="text-center">{% block title %}{% endblock %}</title>
  </head>
  <body data-bs-theme="dark">
    {% if navbar == "True" %}
    <nav
      class="navbar navbar-expand-lg bg-dark sticky-top border-bottom border-1 border-dark-subtle"
      data-bs-theme="dark"
    >
      <div class="container gap-1">
        <a class="navbar-brand text-white fs-2" href="/"
          ><i class="fa-solid fa-coins"></i> ورقة الدين</a
        >

        <div class="dropdown ms-auto">
          <button
            class="btn btn-secondary dropdown-toggle text-capitalize"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user-circle"></i>
            {{ session["username"] }}
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start p-0 shadow"
          >
            <li class="nav-item border-bottom border-1 border-dark-subtle p-0">
              <a
                class="dropdown-item text-end py-2 align-middle"
                aria-current="page"
                href="/"
                >الرئيسية</a
              >
            </li>
            {% if session["is_admin"] == 1: %}
            <li class="nav-item border-bottom border-1 border-dark-subtle p-0">
              <a
                class="dropdown-item text-end py-2 align-middle"
                aria-current="page"
                href="/users"
                >المستخدمون</a
              >
            </li>
            {% endif %}
            <li class="nav-item border-bottom border-1 border-dark-subtle p-0">
              <a
                class="dropdown-item text-end py-2 align-middle"
                aria-current="page"
                href="{{ '/users?do=EditPassword&id=' + session.get('user_session')|string }}"
                >تغيير كلمة المرور</a
              >
            </li>
            <li class="nav-item text-end align-middle">
              <a class="dropdown-item py-2" aria-current="page" href="/logout"
                >تسجيل خروج</a
              >
            </li>
          </ul>
        </div>

        <button
          type="button"
          class="btn btn-primary d-block order-lg-last"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-nav-modal
        >
          <i class="fa-solid fa-user-plus"></i>
        </button>

        <button
          type="button"
          class="btn btn-primary order-lg-last d-none d-md-block"
          data-bs-toggle="modal"
          data-bs-target="#ledgerModal"
        >
          <i class="fa-solid fa-file-invoice"></i>
        </button>
      </div>
    </nav>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/add_transaction" method="POST">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                اضافة حركة
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="form-floating mb-3">
                <select
                  class="form-select-sm mx-auto d-block"
                  id="select-customer"
                >
                  <option selected disabled>اختر زبون</option>
                  {% for customer in all_customers %}
                  <option value="{{ customer[0] }}">{{ customer[1] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="modal-name"
                  placeholder="."
                  required
                  tabindex="1"
                />
                <label for="modal-name">الاسم</label>
              </div>
              <div class="form-floating">
                <input
                  type="number"
                  name="amount"
                  class="form-control"
                  id="modal-amount"
                  placeholder="."
                  required
                  tabindex="2"
                />
                <label for="modal-amount">المبلغ</label>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
                tabindex="4"
              >
                اغلاق
              </button>
              <button type="submit" class="btn btn-success" tabindex="3">
                اضافة
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End Modal -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="ledgerModal"
      tabindex="-1"
      aria-labelledby="ledgerModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="ledgerModalLabel">كشف حساب</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="form-floating mb-3">
              <select
                class="form-select-sm mx-auto d-block"
                id="select-customer"
              >
                <option selected disabled>اختر زبون</option>
                {% for customer in all_customers %}
                <option value="{{ customer[0] }}">{{ customer[1] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              tabindex="4"
            >
              اغلاق
            </button>
            <a
              href="#"
              id="ledger-modal-link"
              class="btn btn-primary"
              tabindex="3"
            >
              كشف حساب
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->
    {% endif %}
    <!--  -->
    {% block body %}
    <!--  -->
    {% endblock %}
    <script src="../static/js/modal.js"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
