{% extends "./base.html" %}
<!--  -->
{% block title %}الرئيسية{% endblock %}
<!--  -->
{% block body %}
<div class="index-container container mt-3">
  {% with messages = get_flashed_messages() %}
  <!--  -->
  {% if messages : %}
  <ul class="list-unstyled">
    {% for message in messages: %}
    <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <!--  -->
  {% endwith %}
  <div class="d-flex justify-content-center align-items-center my-4 px-2 gap-1">
    <h2 class="text-center my-2">{{ total }}</h2>
    {% if request.full_path == "/?zero=True" %}
    <a href="/" class="btn btn-danger ms-auto">اخفاء الحسابات المغلقة</a>
    {% else: %}
    <a href="?zero=True" class="btn btn-success ms-auto"
      >اظهار الحسابات المغلقة</a
    >
    {% endif %}
    <a href="/export" class="btn btn-success">
      <i class="fa-solid fa-download"></i> تصدير
    </a>
  </div>
  <div class="table-responsive">
    <table class="table text-center table-striped table-hover align-middle">
      <thead>
        <tr>
          <th colspan="col">الاسم</th>
          <th colspan="col" class="d-none d-lg-table-cell">آخر حركة</th>
          <th colspan="col">الصافي</th>
          <th colspan="col">الخيارات</th>
        </tr>
      </thead>
      <tbody>
        {% if customers: %}
        <!--  -->
        {% for customer in customers: %}
        <tr>
          <td class="py-2">
            <a
              href="/ledger?id={{ customer[0] }}"
              class="link-light text-decoration-none"
              >{{ customer[1] }}</a
            >
          </td>
          <td class="py-2 d-none d-lg-table-cell">
            {{ customer[2].split()[0] }}
          </td>
          <td class="py-2">{{ customer[3] }}</td>
          <td class="text-nowrap py-2">
            <div
              class="d-flex justify-content-center gap-2"
              data-amount="{{ customer[4] }}"
              data-customer-id="{{ customer[1] }}"
            >
              <button
                type="button"
                class="btn btn-success d-block order-lg-last"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="btn btn-success"
                data-modal="payment"
                title="اضافة دفعة"
              >
                <i class="fa-solid fa-hand-holding-dollar"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger d-block order-lg-last"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="btn btn-success"
                data-modal="sales"
                title="اضافة مبلغ"
              >
                <i class="fa-solid fa-receipt"></i>
              </button>
              <a
                href="/ledger?id={{ customer[0] }}"
                class="btn btn-primary"
                title="كشف حساب"
              >
                <i class="fa-solid fa-file-invoice"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
        <!--  -->
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
