{% extends "./base.html" %}
<!--  -->
{% block title %}تسجيل الدخول{% endblock %}
<!--  -->
{% block body %}
<div class="login-wrapper">
  <div
    class="login-container p-3 p-lg-5 ms-auto d-flex flex-column justify-content-start justify-content-lg-center"
  >
    <form action="/login" method="POST">
      <h1 class="text-white text-center text-uppercase">Log in</h1>
      <p class="text-white-50 text-center text-uppercase">
        Please fill the form
      </p>
      {% with messages = get_flashed_messages() %}
      <!--  -->
      {% if messages : %}
      <ul class="list-unstyled">
        {% for message in messages: %}
        <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <!--  -->
      {% endwith %}
      <ul class="list-unstyled">
        {% if errors %}
        <!--  -->
        {% for error in errors %}
        <li class="alert alert-danger">{{ error }}</li>
        {% endfor %}
        <!--  -->
        {% endif %}
      </ul>
      <div class="form-floating mb-3">
        <input
          type="text"
          name="username"
          class="form-control"
          id="floatingInput"
          placeholder="."
          required
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          name="password"
          class="form-control"
          id="floatingPassword"
          placeholder="."
          required
        />
        <label for="floatingPassword">Password</label>
      </div>
      <button type="submit" class="btn btn-primary d-block w-100 mt-3 fs-4">
        Log in
      </button>
    </form>
  </div>
</div>
{% endblock %}
